*{
    padding: 0;
    margin: 1;
    box-sizing: border-box;
    /* border: 2px solid blue; */

    }


body {
    background-color: #e7e7e7;
    background-image: url('assets/BG.svg');
}
/* the main container */

.front-side,
.back-side {
  width: 275px;
  height: 150px;
  top: 100px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 30px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-image: url(assets/card-back.svg);

}
			
/* .front-side{
} */



.name-container{
  width: 80%;
  margin: 30px;
  position: absolute;
  z-index: 30;

}

.text-container {
  position: absolute;
  top: 75px;
  left: 63px;
}

 .grid-container {
  margin-top: 116px;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr;
    grid-template-rows: .25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

 

.instagram{
  width: 20px;
}
.email{
  top: 100px;
  width: 20px;
}
h3{
  font-family: 'Gantari', sans-serif;
  font-weight: 500;
  color: #E6E7E8;
  margin-bottom: 0px;
}

h5{
  
  font-family: 'Gantari', sans-serif;
  font-weight: 200;
  color: #E6E7E8;
  margin-top: 10px;
  padding-top: 0px;
} 


/* svg styling */
/* .st0{display:none;} */
.st1{display:inline;}

svg{
  fill: #E6E7E8;
}

#icon-fill{
  fill:none;
}



