*{
    padding: 0;
    margin: 1;
    box-sizing: border-box;
    /* border: 2px solid blue; */

    }




/* responsive grid for mobile */
    @media screen and (max-width: 1000px) {
      body{
       transform-origin: top;
       transform: scale(.5);
       margin:0 auto;
      }
     
       }




body {
    background-color: #9bcce5;
    background-image: url(assets/bg2.svg);
  
}
/* the main container */

.front-side,
.back-side {
  width: 475;
  height: 260px;
  top: 50px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-image: url(assets/card-back.svg);
}
			
/* .front-side{
} */

a{
  text-decoration: none;
}
.name-container{
  width: 80%;
  margin: 50px;
  position: absolute;
  z-index: 30;

}

.text-container {
  position: absolute;
  font-size: x-large;
  top: 125px;
  left: 125px;
}

 .grid-container {
    margin-top: 185px;
    margin-left: 14px;
    justify-content: center;
    display: grid;
    grid-template-columns: 45px 135px 45px 1fr;
    grid-template-rows: .25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 20;
    }

 

.instagram{
  width: 40px;
  z-index: 1;
}
.email{
  position: relative;
  
  width: 40px;
  z-index: 10;
}

h3{
  font-family: 'Gantari', sans-serif;
  font-weight: 500;
  color: #E6E7E8;
  margin-bottom: 0px;
}

h5::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h5:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h5::before {
  content: "";
  display: block;
  position:absolute;
  top: 180; right: 285; bottom: 28; left: 11;
  inset: 100 100 0 0;
  background: rgb(19, 142, 204);
  z-index: 0;
  transition: transform .3s ease;
}

h5{
  
  font-family: 'Gantari', sans-serif;
  font-weight: 200;
  font-size: larger;
  color: #E6E7E8;
  margin-top: 10px;
  padding-top: 0px;
  
} 



h6::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h6:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h6::before {
  content: "";
  
  display: block;
  position:absolute;
  top: 180; right: 15; bottom: 28; left: 190;
  inset: 100 100 0 0;
  background: rgb(5, 136, 201);
  z-index: 0;
  transition: transform .3s ease;
}

h6{
  
  font-family: 'Gantari', sans-serif;
  font-weight: 200;
  font-size: larger;
  color: #E6E7E8;
  margin-top: 10px;
  padding-top: 0px;
  z-index: 10;
  
} 



/* svg styling */
/* .st0{display:none;} */
.st1{display:inline;}

svg{
  fill: #E6E7E8;
}

#icon-fill{
  fill:none;
}


html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}
