*{
    padding: 0;
    margin: 1;
    box-sizing: border-box;
    /* border: 2px solid blue; */

    }


body {
    background-color: #6a7d97;
    background-image: url('assets/BG.svg');
}
/* the main container */

.front-side,
.back-side {
  width: 475;
  height: 260px;
  top: 100px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-image: url(assets/card-back.svg);
}
			
/* .front-side{
} */



.name-container{
  width: 80%;
  margin: 50px;
  position: absolute;
  z-index: 30;

}

.text-container {
  position: absolute;
  font-size: x-large;
  top: 125px;
  left: 125px;
}

 .grid-container {
    margin-top: 180px;
    /* justify-content: center;
    display: grid;
    grid-template-columns: 45px 50px;
    grid-template-rows: repeat(2, .125fr);
    grid-column-gap: -10px;
    grid-row-gap: -10px;
    } */
    
    /* .instagram { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .email { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; } */

    justify-content: center;
    display: grid;
    grid-template-columns: 45px 135px 45px 1fr;
    grid-template-rows: .25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

 

.instagram{
  width: 40px;
}
.email{
  position: relative;
  top:-12px;
  width: 40px;
}
h3{
  font-family: 'Gantari', sans-serif;
  font-weight: 500;
  color: #E6E7E8;
  margin-bottom: 0px;
}

h5{
  
  font-family: 'Gantari', sans-serif;
  font-weight: 200;
  font-size: larger;
  color: #E6E7E8;
  margin-top: 10px;
  padding-top: 0px;
} 


/* svg styling */
/* .st0{display:none;} */
.st1{display:inline;}

svg{
  fill: #E6E7E8;
}

#icon-fill{
  fill:none;
}



